#a{
    background: red;
    height: 250px;
}

#b{
    background: blue;
    height: 250px;
}

#f{
    background: yellow;
}
#c{
    background: red;
    height: 250px;
}
#d{
    background:blue;
}
#e{
    background:green;
}